:root {
  /* --main-bg-color: #e7ebf0; */
  --main-bg-color: #ffffff;
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 14px;
  /* overflow: hidden; */
}

/* html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
} */

body {
  /* width: 100vw; */
  min-width: 330px;
  /* height: 100vh; */
  /* overflow-X: hidden; */
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

.App {
  /* width: 100%;
  height: 100%; */
  /* overflow-X: hidden; */
  /* background: url(./images/female-hand-with-white-dandelion-nail-design.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
}

